USE [master]
GO
/****** Object:  Database [TimeClock]    Script Date: 11/12/2019 11:23:35 AM ******/
CREATE DATABASE [TimeClock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeClock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TimeClock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimeClock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TimeClock_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeClock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeClock]
GO
USE [TimeClock]
GO
/****** Object:  Table [dbo].[LaptopLoanerEntries]    Script Date: 11/12/2019 11:23:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaptopLoanerEntries](
	[LaptopLoanerId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Maker] [varchar](100) NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[OTSMATag] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
 CONSTRAINT [PK_LaptopLoanerId] PRIMARY KEY CLUSTERED 
(
	[LaptopLoanerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 11/12/2019 11:23:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[TimeEntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeIn] [datetime] NOT NULL,
	[TimeOut] [datetime] NULL,
	[UserId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUserId] [int] NULL,
 CONSTRAINT [PK_TimeEntries] PRIMARY KEY CLUSTERED 
(
	[TimeEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/12/2019 11:23:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[LMSId] [bigint] NULL,
	[Username] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](15) NOT NULL,
	[Active] [bit] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[CourseId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUserId] [int] NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TimeEntries] ON 

INSERT [dbo].[TimeEntries] ([TimeEntryId], [TimeIn], [TimeOut], [UserId], [CreatedDate], [CreatedUserId]) VALUES (1, CAST(N'2018-03-26T08:05:00.000' AS DateTime), CAST(N'2018-03-26T11:27:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[TimeEntries] ([TimeEntryId], [TimeIn], [TimeOut], [UserId], [CreatedDate], [CreatedUserId]) VALUES (2, CAST(N'2018-03-26T12:28:00.000' AS DateTime), CAST(N'2018-03-26T16:57:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[TimeEntries] ([TimeEntryId], [TimeIn], [TimeOut], [UserId], [CreatedDate], [CreatedUserId]) VALUES (3, CAST(N'2018-03-27T08:00:00.000' AS DateTime), CAST(N'2018-03-27T11:27:00.000' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TimeEntries] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [LMSId], [Username], [FirstName], [LastName], [Password], [Role], [Active], [GroupId], [CourseId], [CreatedDate], [CreatedUserId], [Email], [Phone]) VALUES (1, 3, N'ALeon26', N'Andrew', N'Leon', N'@onshore!', N'Instructor', 1, 0, 127, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [LMSId], [Username], [FirstName], [LastName], [Password], [Role], [Active], [GroupId], [CourseId], [CreatedDate], [CreatedUserId], [Email], [Phone]) VALUES (2, 14, N'Josh.Dickey', N'Josh', N'Dickey', N'pass', N'Student', 1, 13, 127, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [LMSId], [Username], [FirstName], [LastName], [Password], [Role], [Active], [GroupId], [CourseId], [CreatedDate], [CreatedUserId], [Email], [Phone]) VALUES (3, 16, N'Dana.Barnhill', N'Dana', N'Barnhill', N'pass', N'Student', 1, 13, 127, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[LaptopLoanerEntries] ADD  CONSTRAINT [DF_LaptopLoanerEntries_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LaptopLoanerEntries] ADD  CONSTRAINT [DF_LaptopLoanerEntries_CreatedUserId]  DEFAULT ((0)) FOR [CreatedUserId]
GO
ALTER TABLE [dbo].[TimeEntries] ADD  CONSTRAINT [DF_TimeEntries_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TimeEntries] ADD  CONSTRAINT [DF_TimeEntries_CreatedUserId]  DEFAULT ((0)) FOR [CreatedUserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedUserId]  DEFAULT ((0)) FOR [CreatedUserId]
GO
ALTER TABLE [dbo].[LaptopLoanerEntries]  WITH CHECK ADD  CONSTRAINT [FK_LaptopLoanerEntries_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LaptopLoanerEntries] CHECK CONSTRAINT [FK_LaptopLoanerEntries_Users]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_Users]
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_DELETE]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Giancarlo Rhodes
-- Create date: 2/27/2019
-- Description:	delete sp for users tables
-- =============================================
CREATE PROCEDURE [dbo].[SP_USERS_DELETE]
(
	@parmUserId bigint
)
AS
BEGIN

	DELETE FROM [Users] 
		WHERE UserId = @parmUserId	
		
END


GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_INSERT]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Giancarlo Rhodes
-- Create date: 2/27/2019
-- Description:	insert sp for users tables
-- =============================================
CREATE PROCEDURE [dbo].[SP_USERS_INSERT]
(
	@parmLMSId bigint,
	@parmUsername varchar(50),
	@parmFirstName varchar(50),
	@parmLastName varchar(50),
	@parmPassword varchar(50),
	@parmRole varchar(10),
	@parmActive bit,
	@parmGroupId BIGINT,
	@parmCourseId BIGINT,
	@parmCreatedDate DateTime,
	@parmCreatedUserId INT,
	@parmEmail varchar(100)
)
AS
BEGIN

	INSERT INTO Users 	
			(	
				LMSId, 
				Username, 
				FirstName, 
				LastName, 
				[Password], 
				[Role], 
				Active, 
				GroupId, 
				CourseId,
				CreatedDate,
				CreatedUserId,
				Email
			)
	VALUES				
			(
				@parmLMSId, 
				@parmUsername, 
				@parmFirstName,
				@parmLastName, 
				@parmPassword, 
				@parmRole, 
				@parmActive, 
				@parmGroupId, 
				@parmCourseId,
				@parmCreatedDate,
				@parmCreatedUserId,
				@parmEmail
				
			)

END




GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_SELECT]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Giancarlo Rhodes
-- Create date: 2/27/2019
-- Description:	select all the users or one particular user
-- =============================================
CREATE PROCEDURE [dbo].[SP_USERS_SELECT]
(
	@parmUserId bigint
)
AS
BEGIN

	if(@parmUserId = 0)
	BEGIN
		SELECT [UserId]
				,[LMSId]
				,[Username]
				,[FirstName]
				,[LastName]
				,[Password]
				,[Role]
				,[Active]
				,GroupId
				,CourseId
		FROM Users
	END
	ELSE
	BEGIN
		SELECT [UserId]
				,[LMSId]
				,[Username]
				,[FirstName]
				,[LastName]
				,[Password]
				,[Role]
				,[Active]
				,GroupId
				,CourseId
		FROM Users
		WHERE [UserId] = @parmUserId

	END
END




GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_UPDATE]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Giancarlo Rhodes
-- Create date: 2/27/2019
-- Description:	update sp for users tables
-- =============================================
CREATE PROCEDURE [dbo].[SP_USERS_UPDATE]
(
	@parmUserId bigint,
	@parmLMSId bigint,
	@parmUsername varchar(50),
	@parmFirstName varchar(50),
	@parmLastName varchar(50),
	@parmPassword varchar(50),
	@parmRole varchar(10),
	@parmActive bit,
	@parmGroupId BIGINT,
	@parmCourseId BIGINT
)
AS
BEGIN

	UPDATE  Users 	
	SET			
				LMSId = @parmLMSId, 
				Username = @parmUsername, 
				FirstName = @parmFirstName, 
				LastName = @parmLastName, 
				[Password] = @parmPassword, 
				[Role] = @parmRole, 
				Active = @parmActive, 
				GroupId = @parmGroupId, 
				CourseId = @parmCourseId
	WHERE UserId = @parmUserId;

END





GO
/****** Object:  StoredProcedure [dbo].[TimeEntry_CREATE]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TimeEntry_CREATE]
(
	@UserId bigint,
	@TimeIn datetime,
	@TimeOut datetime = null
)
AS
BEGIN

	INSERT INTO TimeEntries (UserId, TimeIn, [TimeOut])
	VALUES					(@UserId, @TimeIn, @TimeOut)

END



GO
/****** Object:  StoredProcedure [dbo].[TimeEntry_UPDATE]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TimeEntry_UPDATE]
(
	@TimeEntryId bigint,
	@UserId bigint,
	@TimeIn datetime,
	@TimeOut datetime
)
AS
BEGIN

	UPDATE TimeEntries
	SET TimeIn = @TimeIn,
		[TimeOut] = @TimeOut
	WHERE UserId = @UserId
	AND TimeEntryId = @TimeEntryId

END



GO
/****** Object:  StoredProcedure [dbo].[TimeEntry_VIEW_BY_USER_ID]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TimeEntry_VIEW_BY_USER_ID]
(
	@UserId bigint,
	@StartDate datetime = null,
	@EndDate datetime = null
)
AS
BEGIN

	SELECT TimeEntryId,
			UserId,
			TimeIn,
			[TimeOut]
	FROM TimeEntries
	WHERE UserId = @UserId
	AND (@StartDate IS NULL OR 
	(TimeIn BETWEEN @StartDate AND @EndDate))

END




GO
/****** Object:  StoredProcedure [dbo].[TimeEntry_VIEW_CURRENT_ENTRY]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TimeEntry_VIEW_CURRENT_ENTRY]
(
	@UserId bigint,
	@Date DATE
)
AS
BEGIN

	SELECT TimeEntryId,
			UserId,
			TimeIn,
			[TimeOut]
	FROM TimeEntries
	WHERE UserId = @UserId
	AND CAST(TimeIn AS DATE) = CAST(@DATE AS DATE)
	AND [TimeOut] IS NULL

END



GO
/****** Object:  StoredProcedure [dbo].[User_CREATE]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_CREATE]
(
	@LMSId bigint,
	@Username varchar(50),
	@FirstName varchar(50),
	@LastName varchar(50),
	@Password varchar(50),
	@Role varchar(10),
	@Active bit,
	@GroupId BIGINT,
	@CourseId BIGINT
)
AS
BEGIN

	INSERT INTO Users (LMSId, Username, FirstName, LastName, [Password], [Role], Active, GroupId, CourseId)
	VALUES				(@LMSId, @Username, @FirstName, @LastName, @Password, @Role, @Active, @GroupId, @CourseId)

END



GO
/****** Object:  StoredProcedure [dbo].[User_VIEW_BY_USER_ID]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_VIEW_BY_USER_ID]
(
	@UserId bigint
)
AS
BEGIN

	SELECT [UserId]
		  ,[LMSId]
		  ,[Username]
		  ,[FirstName]
		  ,[LastName]
		  ,[Password]
		  ,[Role]
		  ,[Active]
		  ,GroupId
		  ,CourseId
	FROM Users
	WHERE UserId = @UserId

END



GO
/****** Object:  StoredProcedure [dbo].[User_VIEW_BY_USERNAME]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_VIEW_BY_USERNAME]
(
	@Username varchar(50)
)
AS
BEGIN

	SELECT [UserId]
		  ,[LMSId]
		  ,[Username]
		  ,[FirstName]
		  ,[LastName]
		  ,[Password]
		  ,[Role]
		  ,[Active]
		  ,GroupId
		  ,CourseId
	FROM Users
	WHERE Username = @Username

END



GO
/****** Object:  StoredProcedure [dbo].[User_VIEW_USERS]    Script Date: 11/12/2019 11:23:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_VIEW_USERS]

AS
BEGIN

	SELECT [UserId]
		  ,[LMSId]
		  ,[Username]
		  ,[FirstName]
		  ,[LastName]
		  ,[Password]
		  ,[Role]
		  ,[Active]
		  ,GroupId
		  ,CourseId
	FROM Users

END



GO
USE [master]
GO
